@page "/"
@inject HaloAPIClient API

<PageTitle>Player Stat Summary</PageTitle>

@using HaloStats.Data
@using HaloStats.Models

<h1>Stats</h1>

<p>
        gamertag: <input @bind="gamertag" /> &nbsp &nbsp &nbsp
        <button class="btn btn-success boldBrownButton" @onclick="ShowData">Show Search Data</button> 
</p>
@if (service == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>kills</th>
                <th>deaths</th>
                <th>assists</th>
                <th>betrayals</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>@service</td>
 
                </tr>

        </tbody>
    </table>
}

@code {
    private Summary playerRecord;
    private string service;
    private string gamertag;
    protected override async Task OnInitializedAsync()
    {
        //playerRecord = await API.GetSummary();
        //service = await API.GetStats();
    }

    protected async Task ShowData()
    {
        if (gamertag == null)
        {   
            service = "Invalid gamertag";
            return;
        }
        API.gamertag = gamertag;
        service = await API.GetStats();

    }
}
